<div class="container">
  <%= form_with(model: plate) do |form| %>
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
      <th></th>
      <% (1..12).each do |col| %>
        <th><%= col %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>

      <% plate.wells.sort_by{|w| w.row}.group_by {|w| w.row }.each do |row, row_wells| %>
        <tr>
        <td class="dark-cell text-center"><%= row %></td>
        <%= form.fields_for :wells, row_wells.sort_by{|w|w.column} do |builder| %>
            <% unless builder.object.sample.nil? %>
              <%= builder.fields_for :samples do |sample_builder| %>
                <td>
                  <%= "#{row} #{builder.object.column}" %>
                  <%= sample_builder.select(:state, options_for_select([['Reject', 'rejected']]), {include_blank: true }) %>
                </td>
              <% end %>
            <% else %>
              <td>No Sample</td>
            <% end %>
        <% end %>
        </tr>
    <% end  %>
    </tbody>
  </table>
    <div class="actions">
      <%= form.submit "Reject Samples", class: 'btn btn-dark float-right', data: { confirm: "Are you sure?" }  %>
    </div>
  <% end %>
</div>
