<div class="card" style="max-width: 20em;">
  <div class="card-header">
    <h4 class="mb-1 card-title"><%= "Sample ##{@sample.id}" %></h4>
  </div>
  <%= image_tag @sample.qr_code.to_data_url, class: 'object-contain' %>
  <div class="row">
    <div class="col text-center">
      <p><strong>Sample Barcode </strong><br/><small><%= @sample.uid %></small></p>
    </div>
  </div>
  <div class="card-footer">
    <span><%= get_badge(@sample.state) %></span>
    <% unless @sample.well.plate.nil? %>
      <span><%= link_to "Plate ##{@sample.well.plate.id} Well #{@sample.well.row}#{@sample.well.column}", @sample.well.plate %></span>
    <% else %>
      <p>Not yet assigned to plate</p>
    <% end %>
    <% if @sample.test_result.present? %>
      <span><%= @sample.test_result.value %></span>
    <% end  %>
  </div>
</div>