<div class="container">
  <%= form_for(:samples, url: step3_sample_bulkprepared_path) do |form| %>
    <table class="table table-hover table-bordered">
      <thead class="thead-dark text-center">
      <tr>
        <th></th>
        <% (1..12).each do |col| %>
          <th><%= col %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
        <% ('A'..'H').each do | row| %>
          <tr>
            <td class="dark-cell text-center"><%= row %></td>
            <% (1..12).each do |col| %>
              <%= hidden_field_tag 'wells[][row]', row  %>
              <%= hidden_field_tag 'wells[][col]', col  %>
              <td><%= select_tag("wells[][id]", options_from_collection_for_select(@samples, "id", "id"), { include_blank: true , class: 'form-control'}) %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="actions">
      <%= form.submit "Create Plate", :class => 'btn btn-dark float-right' %>
    </div>
  <% end %>
</div>