<div class="container">
  <br>
    
  <p id="notice"><%= notice %></p>

  <h1>Samples</h1>
  <table id="datatable" class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>UID</th>
      <th>State</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
    </thead>
    <tbody>
    <% @samples.each do |sample| %>
      <tr>
        <td><%= link_to sample.id, sample %></td>
        <td><%= sample.uid %></td>
        <td><%= get_badge(sample.state) %></td>
        <td><%= sample.created_at %></td>
        <td><%= sample.updated_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br>
  
  <%= link_to '+ New Sample', new_sample_path %>
</div>