<p id="notice"><%= notice %></p>

<h1 class="text-center">Samples</h1>
<div class="container">
  <table>
    <thead>
    <tr>
      <th>Id</th>
      <th>State</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
    </thead>

    <tbody>
    <% @samples.each do |sample| %>
      <tr>
        <td><%= sample.id %></td>
        <td><%= sample.state %></td>
        <td><%= sample.created_at %></td>
        <td><%= sample.updated_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Sample', new_sample_path %>
</div>

