<div class="container table-responsive">
  <br>
    
  <p id="notice"><%= notice %></p>

  <h1>Samples</h1>
  <table id="datatable" class="table table-striped">
    <thead class="thead-dark">
    <tr>
      <th>Sample</th>
      <th>State</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
    </thead>
    <tbody>
    <% @samples.each do |sample| %>
      <tr>
        <td><%= link_to "##{sample.id}", sample %></td>
        <td class="text-left"><%= get_badge(sample.state) %></td>
        <td class="text-left"><%= sample.created_at.strftime('%a %d %b %H:%M') %></td>
        <td class="text-left"><%= sample.updated_at.strftime('%a %d %b %H:%M') %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br>
</div>