<div class="container">
  <div class="card shadow-sm">
      <div class="card-header">
        <h2>Samples to Plate</h2>
      </div>
      <div class="card-body table-responsive">
        <table id="datatable" class="table table-striped table-bordered">
          <thead class="thead-dark">
          <tr>
            <th>UID</th>
            <th>Sample</th>
            <th>Client</th>
          </tr>
          </thead>
          <tbody>
          <% @samples.each do |sample| %>
            <tr>
              <td><%= sample.uid %></td>
              <td class="text-left">
                <%= link_to sample do  %>
                  <%= tag.button class:'btn btn-sm btn-outline-primary' do %>
                    <%= "Show Sample ##{sample.id}" %>
                  <% end   %>
                <% end  %>
              </td>
              <td class="text-left">
                <%= link_to sample.client do  %>
                  <%= tag.button class: 'btn btn-sm btn-outline-primary' do %>
                    <%= sample.client.name %>
                  <% end  %>
                <% end  %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>