<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @sample.user %>
</p>

<p>
  <strong>State:</strong>
  <%= @sample.state %>
</p>

<%= link_to 'Edit', edit_sample_path(@sample) %> |
<%= link_to 'Back', samples_path %>
