<div class="container">

  <br>
  <h1>Plates Ready to go to qPCR</h1>
  <br>

  <%= form_for :plates , url: step4_sample_bulk_ready_test_path do |f| %>
    <table id="datatable" class="table table-striped table-bordered">
      <thead class="thead-dark">
      <tr>
        <th class="no-sort" width="25"><!-- check_box_tag--></th>
        <th class="no-sort">Notes</th>
        <th>Plate</th>
      </tr>
      </thead>
      <tbody>
      <% @plates.each do |plate| %>
        <tr>
          <td class="text-center" style="font-size: 2em; padding-top: 5px"><%= check_box_tag  'plates[][id]', plate.id %></td>
          <td><%= plate.state %></td>
          <td><%= link_to 'Plate', plate %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="actions">
      <%= f.submit "Ready for qPCR", :class => 'btn btn-dark' %>
    </div>
  <% end %>

</div>