<div class="col-md-6 col-sm-12">
  <div class="card">
    <div class="card-header"><h4>My Current Test</h4></div>
    <div class="container">
      <br/>
      <div class="progress">
        <div class="progress-bar teal" role="progressbar" style="width: <%= create_progress_bar(@user) %>%" aria-valuenow="<%= create_progress_bar(@user) %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <br/>
      <%= create_state_alert(@user.active_sample.state) %>
    </div>
    <br/>
    <div class="col-md-12 text-center">
      <%= image_tag @user.active_sample.qr_code.to_data_url %>
      <p>
        <strong>UID:</strong>
        <%= @user.active_sample.uid %>
        <br/>
        <strong>State:</strong>
        <%= get_badge(@user.active_sample.state) %>
      </p>
      </p>
    </div>
  </div>
  <br>
</div>