<div class="container">
  <br>
    
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-md-4 offset-md-4">
      
      <h2 class="text-center">My Sample Status</h2>

      <div class="progress">
        <div class="progress-bar teal" role="progressbar" style="width: <%= create_progress_bar("dispatched") %>%" aria-valuenow="<%= create_progress_bar(@user.samples.last.state) %>" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      
      <div class="alert alert-info" role="alert">Your sample has been recieved by our lab and is being processed. We will contact you once this is complete.</div>
      
      <div class="card">
        <div class="card-header">My Profile</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name: <%= @user.name %></li>
          <li class="list-group-item">DOB: <%= @user.dob %></li>
          <li class="list-group-item">Number: <%= @user.telno %></li>
          <li class="list-group-item">Email: <%= @user.email %></li>
        </ul>
      </div>

      <br>

      <div class="card">
          <div class="card-header">My Sample</div>
          <ul class="list-group list-group-flush">
            <% @user.samples.each do | sample| %>
              <li class="list-group-item"><%= sample %></li>
            <% end %>
          </ul>
        </div>
    </div>

  </div>
</div>
