<div class="container">
  <br>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      
      <h2 class="text-center">My Profile</h2>
      <hr/>

      <div class="card">
        <div class="card-header">My Profile</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name: <%= @user.name %></li>
          <li class="list-group-item">DOB: <%= @user.dob %></li>
          <li class="list-group-item">Number: <%= @user.telno %></li>
          <li class="list-group-item">Email: <%= @user.email %></li>
        </ul>
      </div>

      <br>

      <div class="card">
        <div class="card-header">My Previous Tests</div>
        <ul class="list-group list-group-flush">
          <% @user.samples.is_analysed.each do | sample| %>
            <li class="list-group-item"><%= link_to sample.state, sample %> | <%= sample.created_at.strftime('%A %-d %b %H:%M')%> | <%= sample.test_result.value %> </li>
          <% end %>
        </ul>
      </div>
      <br/>
      <% if @user == current_user %>
        <div class="card">
          <div class="card-header">Manage My Account</div>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <%= link_to edit_user_registration_path do  %>
                  <button class="btn btn-warning">Edit Account Details</button>
                <% end %>
              </li>
          </ul>
        </div>
      <% end %>
      <br/>
    </div>
    <% unless @user.active_sample.nil? %>
      <%= render 'current_sample' %>
    <% else %>
        <%= render 'create_sample' %>
    <% end %>
  </div>
</div>
