<div class="container">
  <br>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      
      <div class="card shadow">
        <div class="card-header "><h4>My Profile</h4></div>
        <div class="card-body">
          <div class="mt-1 mb-1 ">
            <span class="profile-icon">
              <%= fa_icon "envelope-open" %>
            </span>
            <span>
              <%= @user.email %>
            </span>
          </div>
        </div>
      </div>

      <br>
      <% if @user.samples.any? %>
        <div class="card shadow">
          <div class="card-header">My Previous Tests</div>
          <ul class="list-group list-group-flush">
            <% @user.samples.each do | sample| %>
              <li class="list-group-item"><%= link_to sample.state, sample %> | <%= sample.created_at.strftime('%A %-d %b %H:%M')%> | <%= sample.test_result&.value %> </li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <br/>
      <% if @user == current_user %>
        <%= link_to edit_user_registration_path do  %>
          <button class="btn btn-outline-primary">Edit Account Details</button>
        <% end %>
      <% end %>
      <br/>
    </div>
    <% unless @user.active_sample.nil? %>
      <%= render 'current_sample' %>
    <% else %>
        <%= render 'create_sample' %>
    <% end %>
  </div>
</div>
