<div class="container">

<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group was-validated">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', required: true %>
    <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Name Required</div>
  </div>
  <div class="form-group">
    <%= form.label :url, "Webhook URL" %>
    <%= form.url_field :url, class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= form.label :labgroup %>
    <%= form.collection_select :labgroup, Labgroup.all, :id, :name, {} ,{class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= form.label :headers, "Webhook Headers" %>
    <%= form.fields_for :headers, get_headers(client) do |builder| %>
      <div>
        <div class="header-fields form-row">
          <%= builder.hidden_field :id %>
          <div class="form-group col col-md-4">
            <%= builder.label :key %>
            <%= builder.text_field :key, class: 'form-control' %>
          </div>
          <div class="form-group col col-md-6">
            <%= builder.label :value %>
            <%= builder.password_field :value, class: 'form-control', value: builder.object.value %>
          </div>
          
          <% if action_name == "edit" %>
          <div class="form-group col col-md-2">
            <div class="form-check">
              <%= builder.check_box :_destroy, class: 'form-check-input' %>
              <%= builder.label :_destroy, "Destroy?", class: 'form-check-label' %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= button_tag class: 'btn btn-primary btn-small', type: 'button', id: "add-header" do  %>
      <%= fa_icon "plus-circle", class: 'fa-fw' %>
    <% end %>
    <%= button_tag class: 'btn btn-danger btn-small', type: 'button', id: "remove-row" do  %>
      <%= fa_icon "warning", class: 'fa-fw' %>
    <% end %>
  </div>
  <div class="form-check">
    <%= form.check_box :notify, class: 'form-check-input' %>
    <%= form.label :notify, "Send Results Externally", class: 'form-check-label'  %>
  </div>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
</div>


<script>
$(document).on('turbolinks:load', function(){
  let deleteVisible = false
  $('#remove-row').hide()
  function addRow(){
    let row = $('.header-fields:last').clone(false)
    row.find('input').val(null) // set inputs to nothing
    row.find('input').each(incrementIndex)
    row.insertAfter('.header-fields:last')
    deleteVisible = true
    $('#remove-row').show();
  }

  function incrementIndex(idx, element){
    const match = /\d+/g.exec(element.name) 
    if(!match){
      throw "no match found";
    }
    const oldIndex = match[0]
    const newIndex = parseInt(oldIndex) + 1

    element.id = element.id.replace(oldIndex, newIndex.toString())
    element.name = element.name.replace(oldIndex, newIndex.toString())
  }

  function removeRow(){
    $('.header-fields:last').remove()
  }
  
  $("#add-header").on('click', addRow)
  $("#remove-row").on('click', removeRow)

})
</script>