<div class="container col-md-4">
<br>
    <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'was-validated'}) do |f| %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Enter Email', required: true, class: 'form-control' %>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "password", placeholder: 'Enter Password', required: true, class: 'form-control' %>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="form-group form-check">
          <div class="field">
            <%= f.check_box :remember_me, class: 'form-check-input' %>
            <%= f.label :remember_me %>
          </div>
        </div>
      <% end %>
      <%= recaptcha_tags %>
      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-primary' %>
      </div>
    <% end %>
  <br/>
  <%= render "devise/shared/links" %>



</div>