<%= form_with(model: [@plate, test], local: true) do |form| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>
      <ul>
        <% test.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col col-md-4">
      <div class="row">
        <div class="container">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <%= form.label :result_files, 'Choose File A', class: 'input-group-text' %>
            </div>
            <div class="custom-file">
              <%= form.file_field :result_files, name: '[test][result_files][]', accept: '.csv', class: 'custom-file-input' %>
              <%= form.label :result_files, nil, class: 'custom-file-label' %>
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <%= form.label :result_files, 'Choose File B', class: 'input-group-text' %>
            </div>
            <div class="custom-file">
              <%= form.file_field :result_files, name: '[test][result_files][]', accept: '.csv', class: 'custom-file-input' %>
              <%= form.label :result_files, nil, class: 'custom-file-label' %>
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <%= form.label :user, 'Tested By', class: 'input-group-text' %>
            </div>
            <%= form.collection_select :user_id, User.staffmembers, :id, :name,  class: 'custom-select' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <%= render partial: 'plate_grid_table', locals: {test: test, form: form} %>
  </div>
  <div class="actions">
    <%= form.submit "Upload Results", class: 'btn btn-primary' %>
  </div>
<% end %>
