<%= form_with(model: [@plate, test], local: true) do |form| %>
  <% if test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>
      <ul>
      <% test.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col col-md-4">
      <div class="row">
        <div class="container">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <%= form.label :result_file, 'Result Files', class: 'input-group-text' %>
            </div>
            <div class="custom-file">
              <%= form.file_field :result_files, multiple: true, name: '[test][result_files][]', accept: '.csv', class: 'custom-file-input' %>
              <%= form.label :result_files, 'Choose Files', class: 'custom-file-label' %>
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <%= form.label :user, 'Tested By', class: 'input-group-text' %>
            </div>
            <%= form.collection_select :user_id, User.staffmembers, :id, :name,  class: 'custom-select' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
          <tr>
            <th></th>
            <% (1..12).each do |col| %>
              <th><%= col %></th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% @plate.wells.sort_by{|w| w.row}.group_by {|w| w.row }.each do |row, row_wells| %>
              <tr>
                <td class="dark-cell text-center"><%= row %></td>
                  <% row_wells.sort_by{|w| w.column}.each do |rw| %>
                    <td>
                      <% if test.test_results.map(&:well_id).include? rw.id %>
                        <%= form.fields_for :test_results, test.test_results.select{|i| i.well_id == rw.id} do |result_builder| %>
                          <%= result_builder.hidden_field :well_id %>
                          <%= result_builder.hidden_field :test_id %>
                          <%= result_builder.hidden_field :id %>
                          <%= result_builder.text_field :value, class: 'form-control' %>
                        <% end %>
                      <% else %>
                        <%= "Nothing here" %>
                      <% end %>
                    </td>
                  <% end  %>
              </tr>
            <% end  %>
          </tbody>
        </table>
  </div>
  <div class="actions">
    <%= form.submit "Upload Results", class: 'btn btn-primary' %>
  </div>
<% end %>
