<% content_for :meta do %>
<meta name="turbolinks-visit-control" content="reload">
<% end %>

<div class="container">
    <h1>Confirm Test Results</h1>
    <% @plate = @test.plate %>
    <% test = @test %>
    <%= form_with(model: [@plate, test], url: "confirm", local: true) do |form| %>
    <% if test.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(test.errors.count, "error") %> prohibited this test from being saved:</h2>
        <ul>
            <% test.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <div class="row">
        <div class="p-1 m-2 card shadow">
            <div class="mt-1 mb-1">
                <span>
                    <%= fa_icon "archive", class: 'fa-fw' %>
                </span>
                <span>
                    <small><%= @test.batch && @test.batch.size > 0 ? @test.batch :  "No batch" %></small>
                </span>
            </div>
            <div class="mt-1 mb-1">
                <span>
                    <%= fa_icon "flask", class: 'fa-fw' %>
                </span>
                <span>
                    <small><%= westgard_link(@test.plate) %></small>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <%= render partial: 'plate_confirm_table', locals: {test: test, form: form} %>
    </div>
    <div class="row m-2">
        <%= form.label :comment, 'Comment'%>
        <%= form.text_area :comment, class: 'form-control', rows: 3 %>
    </div>
    <div class="actions">
        <%= form.submit "Confirm Result", class: 'btn btn-primary' %>
    </div>
    <% end %>
    <%= link_to 'Back', plate_tests_path(@plate) %>
</div>