<!DOCTYPE html>
<html>
  <head>
    <title>OpencellTesting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">OpenCell Testing</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <% if current_user && user_signed_in? && current_user.staff?  %>
        <li class="nav-item">
          <%= link_to "Pending Dispatch", samples_pendingdispatch_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Pending Receive", samples_pendingreceive_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Pending Prepare", samples_pendingprepare_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Pending Test", samples_pendingtest_path, class: 'nav-link' %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "My Tests", samples_path, class: 'nav-link' %>
        </li>
        <% end %>
        <li class="nav-item">
          <a class="nav-link" href="#">Results</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Users</a>
        </li>
        <% if current_user %>
          <%= "Hello #{current_user.name}" %>
        <% end  %>
        <% if user_signed_in? %>
        <%= link_to 'Sign out 🔒', destroy_user_session_path, method: :delete  %>
        <% end %>
      </ul>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
