<!DOCTYPE html>
<html>
  <head>
    <title>OpencellTesting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>    
  </head>

  <body>
    <div class="container">
      <br />
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand dark" href="\">
          <img src="https://uploads-ssl.webflow.com/5beda5244920652be0723efa/5e4fe149b0071a1f5d5dcf4b_opencell_color_w.png" height="40" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav text-center">
            <% if current_user && user_signed_in? && current_user.staff?  %>            
              <li class="nav-item">              
                <a href="<%= step1_pendingdispatch_path %>">
                  <span class="badge badge-secondary"><%= @pendingdispatch_count %></span>
                  <p>Awaiting Dispatch</p>
                </a>
              </li>
              <li class="nav-item">              
                <a href="<%= step2_pendingreceive_path %>">
                    <span class="badge badge-secondary"><%= @pendingreceive_count %></span>
                    <p>Awaiting Return</p>
                </a>
              </li>
              <li class="nav-item">              
                <a href="<%= step3_pendingprepare_path %>">
                    <span class="badge badge-secondary"><%= @pendingprepare_count %></span>
                    <p>Awaiting Prepare</p>
                </a>
              </li>
              <li class="nav-item">              
                <a href="<%= step4_pendingreadytest_path %>">
                    <span class="badge badge-secondary"><%= @pendingreadytest_count %></span>
                    <p>Awaiting Ready</p>
                </a>
              </li>
              <li class="nav-item">
                <%= link_to step5_pendingtest_path do %>
                    <span class="badge badge-secondary"><%= @pendingtest_count %></span>
                    <p>Awaiting Test</p>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to step6_pendinganalyze_path do %>
                  <span class="badge badge-secondary"><%= @pendinganalyze_count %></span>
                  <p>Awaiting Analysis</p>
                <% end %>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More..</a>
                <div class="dropdown-menu">
                  <%= link_to "Samples", samples_path, class: "dropdown-item" %>
                  <%= link_to "Plates", plates_path, class: "dropdown-item" %>
                  <%= link_to "Completed Tests", tests_complete_path, class: "dropdown-item" %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Admin", admin_root_path, class: "dropdown-item" %>
                </div>
              </li>
            <% elsif current_user && current_user.patient? %>
              <li class="nav-item">
                  <%= link_to samples_path do  %>
                    <p>My Tests</p>
                  <% end  %>
                </a>
              </li>
            <% end %>
            <% if user_signed_in? %>
              <li class="nav-item justify-content-end">
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link'  %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
      <% if notice %>
        <br>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" aria-label="Close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <br>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" aria-label="Close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
          <%= alert %>
        </div>
      <% end %>
    </div>
    <div class="application-container">
      <%= yield %>
    </div>
    <footer class="container-fluid bg-1 text-center">
      <br>
      <span><p class="bg1-font"> <%= link_to 'Privacy Policy', "/privacy" %> | <%= link_to 'About Us', "/about" %> | <%= link_to "Contact", 'mailto:info@dummyurl.com' %></p> </span>
      <span><p class="bg1-font">Copyright © 2019 <a href="https://dummyurl.com" class="bg1-font">dummyurl.com</a> All rights reserved.</p></span>
    </footer>

  </body>
</html>
